{{template "standard_personality.tmpl" .}}
Identify and list all open questions from the following conversation thread. Provide a clear, concise list of open questions. Be sure to include any context necessary to understand the question and its importance to the conversation. Only include questions that have not been answered in the conversation. If there are no open questions, simply state that there are no open questions.
