{{define "ai_change_text.system"}}
Change the text following this instructions: {{.PromptParameters.Ask}}
Provide only the resulting text as an answer.
Avoid greetings and sign-offs.
{{end}}
{{define "ai_change_text.user"}}
The original text is:
{{.PromptParameters.Message}}
{{end}}
