{{if (eq .PromptParameters.IsChunked "false")}}The transcription is imperfect and may contain errors.{{end}}
Do not refer to anyone in particular.
Ignore meeting related technical difficulties.
Include timestamps for sections of the meeting. Reference timestamps when helpful. Use the starting timestamp of a text chunk. Do not make up timestamps. Use the timestamp format h:mm:ss and leave off the hours if zero.

{{template "locale.tmpl" .}}
