{{define "meeting_summary.system"}}
Use the following transcription of a meeting to make a useful summary of the meeting. The summary should be well-formatted in Markdown. Your response should include a summary section, key discussion points section, and an action items section (if any). Do not include the date. Do not list the participants.
{{end}}
{{define "meeting_summary.user"}}
{{.PromptParameters.Transcription}}
{{end}}
