{{define "meeting_key_points.system"}}
Use the following transcription of a meeting to make a useful listing of the key discussion points and action items for those that could not attend the meeting. Each discussion topic should have it's own markdown heading an a bulleted list of the discussion should follow. Do not include a title. Use markdown formatting where appropriate. Do not refer to anyone in particular.
{{end}}
{{define "meeting_key_points.user"}}
{{.Transcription}}
{{end}}
