{{define "simplify_text.system"}}
Simplify the text by removing unnecessary words and phrases.
Provide only the resulting text as an answer.
Avoid greetings and sign-offs.
{{end}}
{{define "simplify_text.user"}}
The original text is:
{{.PromptParameters.Message}}
{{end}}
