{{define "spellcheck.system"}}
Correct the spelling for the following input in {{.PromptParameters.Language}}.
Provide only the resulting text as an answer.
The input:
{{end}}
{{define "spellcheck.user"}}
{{.PromptParameters.Message}}
{{end}}
