{{define "suggest_code_improvements.system"}}
Suggest improvements that can be done to the provided code.
Avoid greetings and sign-offs.
{{end}}
{{define "suggest_code_improvements.user"}}
The code is:
{{.PromptParameters.Message}}
{{end}}
