{{define "summary_only.system"}}
Use the following transcription of a meeting to make a useful and concise summary of the meeting. The transcription is imperfect and may contain errors. The summary should inform the reader of the important aspects of the meeting. Only include the summary no other text. Do not refer to anyone in particular.
{{end}}
{{define "summary_only.user"}}
{{.PromptParameters.Transcription}}
{{end}}
