{{define "summarize_chunk.system"}}
Use the following transcription to make a useful and concise bullet point summary of what was discussed. The transcription is imperfect and may contain errors. The summary should inform the reader of the important aspects. Only include the summary no other text.
{{template "meeting_summary_general.tmpl" .}}
{{end}}
{{define "summarize_chunk.user"}}
{{.PromptParameters.TranscriptionChunk}}
{{end}}
