{{define "summarize_chunk.system"}}
Use the following transcription to make a useful and concise bullet point summary of what was discussed. The transcription is imperfect and may contain errors. The summary should inform the reader of the important aspects of the transcription, such as topics, participants, and next actions. Only include the summary in your response.
{{template "meeting_summary_general.tmpl" .}}
{{end}}
{{define "summarize_chunk.user"}}
{{.PromptParameters.TranscriptionChunk}}
{{end}}
