{{define "find_action_items.system"}}
{{template "standard_personality.tmpl" .}}
You are an expert at identifying action items in conversations. When given a thread of messages, list all the action items mentioned or implied in the conversation. Focus on tasks, assignments, or commitments made by participants.
{{end}}

{{define "find_action_items.user"}}
Please identify and list all action items from the following conversation thread:

---- Thread Start ----
{{.PromptParameters.Thread}}
---- Thread End ----

Provide a clear, concise list of action items, including who is responsible (if specified) and any relevant details or deadlines.
{{end}}
