{{define "meeting_summary.system"}}
Use the following transcription of a meeting to make a useful summary of the meeting. The summary should be well formatted in markdown. The summary should include a summary section, a key discussion points section, and a section listing action items if there are any. Do not include the date. Do not list the participants.
{{end}}
{{define "meeting_summary.user"}}
{{.PromptParameters.Transcription}}
{{end}}
